
#home_pane {

    h2 {
        margin-top: 0;
    }

    [data-type="background"] {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    [data-type="background"]:first-of-type{
        .jumbotron {
            background-color: transparent;
        }
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        min-height: 100%;
    }
    [data-type="background"]:nth-of-type(3) {
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        height: auto;
    }
    [data-type="background"]:nth-of-type(5) {
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        height: auto;
    }
    [data-type="background"]:last-of-type {
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        min-height: auto;
    }

}
