
#home_pane {

    /* Full screen section */
    & > div:first-of-type,
    & > section:first-of-type {
        padding-top: 20px;
        min-height: 100%;
        overflow: hidden;
        .jumbotron {
            background-color: transparent;
        }
    }

    & > div:last-of-type,
    & > section:last-of-type {
        .alert-info {
            //background-color: rgba($alert-info-bg, .8);
            //border-color: rgba($alert-info-border, .8);
        }
        &:after {
            background: $body-bg;
            opacity: .5;
        }
        filter: saturate(0);
    }

    // Call to action button
    /*a[href="#editor_pane"] {
    //color: rgba($link-color, .9);
    //text-shadow: 1px 2px 1px #000, 0 0 0 #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .25);
}*/
a[href="#editor_pane"]:hover {
    //color: rgba($link-hover-color, .9);
    //text-shadow: 0px 1px 1px #fff, 0 0 0 #000;
    text-shadow: none;
}

/* Parallax layers */
[data-layer-speed] {
    z-index: 0;
    background-size: cover;
    //background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    box-shadow: inset 0px 40px 90px -60px;
    h1, h2 {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
        margin-top: 0;
    }
}

/* Parallax background images */
.image-overlay:first-of-type {
    background-image: url(../images/backgrounds/road.jpg);
}
.image-overlay:nth-of-type(3) {
    background-image: url(../images/backgrounds/road.jpg);
}
.image-overlay:nth-of-type(5) {
    background-image: url(../images/backgrounds/road.jpg);
}
.image-overlay:last-of-type {
    background-image: url(../images/backgrounds/road.jpg);
}

/* Sections padding */
& > div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
@media (min-width: $screen-sm-min) {
    & > div {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
@media (min-width: $screen-md-min) {
    & > div {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

}
