
#home_pane {

    h2 {
        margin-top: 0;
    }

    & > div {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    [data-type="background"] {

        box-shadow: inset 0px 40px 90px -60px;

        h1, h2 {
            text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
        }
    }

    [data-type="background"]:first-of-type{
        .jumbotron {
            background-color: transparent;
        }
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        min-height: 100%;
    }
    [data-type="background"]:nth-of-type(3) {
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        height: auto;
    }
    [data-type="background"]:nth-of-type(5) {
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        height: auto;
    }
    [data-type="background"]:last-of-type {
        background: url(../images/backgrounds/route_planner.jpg) 0 0 fixed;
        background-size: cover;
        min-height: auto;
    }

}

@media (min-width: $screen-md) {
    #home_pane > div {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}