
.map {

    .spinner {
        opacity: .2;
        z-index: 1;
        width: 1em;
        height: 1em;
    }

    /* Setting link */
    .layer-switcher a[href="#layer_settings_modal"] {
        font-size: 1em;
        //float: right;
        margin-left: .5em;
    }

    /* Layer-switcher */
    .layer-switcher .panel {
        //max-height: none;
    }
    &.no-layer-switcher .layer-switcher {
        display: none;
    }
    &.inline-layer-switcher .layer-switcher {
        .panel {
            overflow-x: hidden;
        }
        .group {
            float: left;
            padding-bottom: .5em;
        }
        .layer {
            //width: 100%;
        }
    }

    /* Zoom slider */
    .ol-zoomslider {
        background-color: transparent;
        top: 2.3em;
    }
    .ol-touch .ol-zoomslider {
        top: 2.75em;
    }
    .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
    .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
        top: 3px;
    }
    &:not(.no-zoomslider) {
        .ol-zoom .ol-zoom-out {
            margin-top: 204px;
        }
        .ol-touch .ol-zoom .ol-zoom-out {
            margin-top: 212px;
        }
        .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
        .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
            top: 232px;
        }
    }
    &.no-zoomslider .ol-zoomslider {
        display: none;
    }
}
