
.roadbook [data-addr-type="alpinehut"],
.roadbook [data-icon="accommodation_alpinehut"],
.roadbook [data-addr-type="bed_and_breakfast"],
.roadbook [data-icon="accommodation_bed_and_breakfast"],
.roadbook [data-addr-type="camping"],
.roadbook [data-icon="accommodation_camping"],
.roadbook [data-addr-type="caravan_park"],
.roadbook [data-icon="accommodation_caravan_park"],
.roadbook [data-addr-type="hotel"],
.roadbook [data-icon="accommodation_hotel"],
.roadbook [data-addr-type="hotel2"],
.roadbook [data-icon="accommodation_hotel2"],
.roadbook [data-addr-type="shelter"],
.roadbook [data-icon="accommodation_shelter"],
.roadbook [data-addr-type="shelter2"],
.roadbook [data-icon="accommodation_shelter2"],
.roadbook [data-addr-type="youth_hostel"],
.roadbook [data-icon="accommodation_youth_hostel"] {
    color: #0092da;
}

.roadbook [data-addr-type="bench"],
.roadbook [data-icon="amenity_bench"],
.roadbook [data-addr-type="court"],
.roadbook [data-icon="amenity_court"],
.roadbook [data-addr-type="firestation"],
.roadbook [data-icon="amenity_firestation"],
.roadbook [data-addr-type="firestation2"],
.roadbook [data-icon="amenity_firestation2"],
.roadbook [data-addr-type="firestation3"],
.roadbook [data-icon="amenity_firestation3"],
.roadbook [data-addr-type="fountain"],
.roadbook [data-icon="amenity_fountain"],
.roadbook [data-addr-type="information"],
.roadbook [data-icon="amenity_information"],
.roadbook [data-addr-type="library"],
.roadbook [data-icon="amenity_library"],
.roadbook [data-addr-type="police"],
.roadbook [data-icon="amenity_police"],
.roadbook [data-addr-type="police2"],
.roadbook [data-icon="amenity_police2"],
.roadbook [data-addr-type="post_box"],
.roadbook [data-icon="amenity_post_box"],
.roadbook [data-addr-type="post_office"],
.roadbook [data-icon="amenity_post_office"],
.roadbook [data-addr-type="prison"],
.roadbook [data-icon="amenity_prison"],
.roadbook [data-addr-type="recycling"],
.roadbook [data-icon="amenity_recycling"],
.roadbook [data-addr-type="survey_point"],
.roadbook [data-icon="amenity_survey_point"],
.roadbook [data-addr-type="telephone"],
.roadbook [data-icon="amenity_telephone"],
.roadbook [data-addr-type="toilets"],
.roadbook [data-icon="amenity_toilets"],
.roadbook [data-addr-type="toilets_disabled"],
.roadbook [data-icon="amenity_toilets_disabled"],
.roadbook [data-addr-type="toilets_men"],
.roadbook [data-icon="amenity_toilets_men"],
.roadbook [data-addr-type="toilets_women"],
.roadbook [data-icon="amenity_toilets_women"],
.roadbook [data-addr-type="waste_bin"],
.roadbook [data-icon="amenity_waste_bin"] {
    color: #734a08;
}

.roadbook [data-addr-type="bollard"],
.roadbook [data-icon="barrier_bollard"],
.roadbook [data-addr-type="enterance"],
.roadbook [data-icon="barrier_enterance"],
.roadbook [data-addr-type="gate"],
.roadbook [data-icon="barrier_gate"],
.roadbook [data-addr-type="lift_gate"],
.roadbook [data-icon="barrier_lift_gate"],
.roadbook [data-addr-type="stile"],
.roadbook [data-icon="barrier_stile"],
.roadbook [data-addr-type="toll_booth"],
.roadbook [data-icon="barrier_toll_booth"] {
    color: #666666;
}

.roadbook [data-addr-type="nursery"],
.roadbook [data-icon="education_nursery"],
.roadbook [data-addr-type="school"],
.roadbook [data-icon="education_school"],
.roadbook [data-addr-type="university"],
.roadbook [data-icon="education_university"] {
    color: #39ac39;
}

.roadbook [data-addr-type="bar"],
.roadbook [data-icon="food_bar"],
.roadbook [data-addr-type="cafe"],
.roadbook [data-icon="food_cafe"],
.roadbook [data-addr-type="drinkingtap"],
.roadbook [data-icon="food_drinkingtap"],
.roadbook [data-addr-type="fastfood"],
.roadbook [data-icon="food_fastfood"],
.roadbook [data-addr-type="fastfood2"],
.roadbook [data-icon="food_fastfood2"],
.roadbook [data-addr-type="pub"],
.roadbook [data-icon="food_pub"],
.roadbook [data-addr-type="restaurant"],
.roadbook [data-icon="food_restaurant"] {
    color: #734a08;
}

.roadbook [data-addr-type="dentist"],
.roadbook [data-icon="health_dentist"],
.roadbook [data-addr-type="doctors"],
.roadbook [data-icon="health_doctors"],
.roadbook [data-addr-type="hospital"],
.roadbook [data-icon="health_hospital"],
.roadbook [data-addr-type="hospital_emergency"],
.roadbook [data-icon="health_hospital_emergency"],
.roadbook [data-addr-type="hospital_emergency2"],
.roadbook [data-icon="health_hospital_emergency2"],
.roadbook [data-addr-type="opticians"],
.roadbook [data-icon="health_opticians"],
.roadbook [data-addr-type="pharmacy"],
.roadbook [data-icon="health_pharmacy"],
.roadbook [data-addr-type="pharmacy_dispensing"],
.roadbook [data-icon="health_pharmacy_dispensing"],
.roadbook [data-addr-type="veterinary"],
.roadbook [data-icon="health_veterinary"] {
    color: #da0092;
}

.roadbook [data-addr-type="coniferous"],
.roadbook [data-icon="landuse_coniferous"],
.roadbook [data-addr-type="coniferous_and_deciduous"],
.roadbook [data-icon="landuse_coniferous_and_deciduous"],
.roadbook [data-addr-type="deciduous"],
.roadbook [data-icon="landuse_deciduous"],
.roadbook [data-addr-type="grass"],
.roadbook [data-icon="landuse_grass"],
.roadbook [data-addr-type="grasssvg"],
.roadbook [data-icon="landuse_grasssvg"],
.roadbook [data-addr-type="hills"],
.roadbook [data-icon="landuse_hills"],
.roadbook [data-addr-type="quary"],
.roadbook [data-icon="landuse_quary"],
.roadbook [data-addr-type="scrub"],
.roadbook [data-icon="landuse_scrub"],
.roadbook [data-addr-type="swamp"],
.roadbook [data-icon="landuse_swamp"] {
    color: #999999;
}

.roadbook [data-addr-type="atm"],
.roadbook [data-icon="money_atm"],
.roadbook [data-addr-type="atm2"],
.roadbook [data-icon="money_atm2"],
.roadbook [data-addr-type="bank"],
.roadbook [data-icon="money_bank"],
.roadbook [data-addr-type="bank2"],
.roadbook [data-icon="money_bank2"],
.roadbook [data-addr-type="currency_exchange"],
.roadbook [data-icon="money_currency_exchange"] {
    color: #000000;
}

.roadbook [data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship"],
.roadbook [data-religion="bahai"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_bahai"],
.roadbook [data-religion="bahai3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_bahai3"],
.roadbook [data-religion="buddhist"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_buddhist"],
.roadbook [data-religion="buddhist3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_buddhist3"],
.roadbook [data-religion="christian"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_christian"],
.roadbook [data-religion="christian3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_christian3"],
.roadbook [data-religion="hindu"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_hindu"],
.roadbook [data-religion="hindu3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_hindu3"],
.roadbook [data-religion="islamic"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_islamic"],
.roadbook [data-religion="islamic3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_islamic3"],
.roadbook [data-religion="jain"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_jain"],
.roadbook [data-religion="jain3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_jain3"],
.roadbook [data-religion="jewish"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_jewish"],
.roadbook [data-religion="jewish3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_jewish3"],
.roadbook [data-religion="shinto"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_shinto"],
.roadbook [data-religion="shinto3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_shinto3"],
.roadbook [data-religion="sikh"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_sikh"],
.roadbook [data-religion="sikh3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_sikh3"],
.roadbook [data-religion="unknown3"][data-addr-type="place_of_worship"],
.roadbook [data-icon="place_of_worship_unknown3"] {
    color: #000000;
}

.roadbook [data-addr-type="boundary_administrative"],
.roadbook [data-icon="poi_boundary_administrative"],
.roadbook [data-addr-type="bunker"],
.roadbook [data-icon="poi_bunker"],
.roadbook [data-addr-type="cave"],
.roadbook [data-icon="poi_cave"],
.roadbook [data-addr-type="embassy"],
.roadbook [data-icon="poi_embassy"],
.roadbook [data-addr-type="embassy2"],
.roadbook [data-icon="poi_embassy2"],
.roadbook [data-addr-type="military_bunker"],
.roadbook [data-icon="poi_military_bunker"],
.roadbook [data-addr-type="mine"],
.roadbook [data-icon="poi_mine"],
.roadbook [data-addr-type="mine_abandoned"],
.roadbook [data-icon="poi_mine_abandoned"],
.roadbook [data-addr-type="peak"],
.roadbook [data-icon="poi_peak"],
.roadbook [data-addr-type="city"],
.roadbook [data-icon="poi_place_city"],
.roadbook [data-addr-type="town"],
.roadbook [data-icon="poi_place_town"],
.roadbook [data-addr-type="village"],
.roadbook [data-icon="poi_place_village"],
.roadbook [data-addr-type="point_of_interest"],
.roadbook [data-icon="poi_point_of_interest"],
.roadbook [data-addr-type="tower_communications"],
.roadbook [data-icon="poi_tower_communications"],
.roadbook [data-addr-type="tower_power"],
.roadbook [data-icon="poi_tower_power"],
.roadbook [data-addr-type="tower_water"],
.roadbook [data-icon="poi_tower_water"] {
    color: #000000;
}

.roadbook [data-addr-type="alcohol"],
.roadbook [data-icon="shopping_alcohol"],
.roadbook [data-addr-type="bakery"],
.roadbook [data-icon="shopping_bakery"],
.roadbook [data-addr-type="bicycle"],
.roadbook [data-icon="shopping_bicycle"],
.roadbook [data-addr-type="book"],
.roadbook [data-icon="shopping_book"],
.roadbook [data-addr-type="butcher"],
.roadbook [data-icon="shopping_butcher"],
.roadbook [data-addr-type="car"],
.roadbook [data-icon="shopping_car"],
.roadbook [data-addr-type="car_repair"],
.roadbook [data-icon="shopping_car_repair"],
.roadbook [data-addr-type="clothes"],
.roadbook [data-icon="shopping_clothes"],
.roadbook [data-addr-type="confectionery"],
.roadbook [data-icon="shopping_confectionery"],
.roadbook [data-addr-type="convenience"],
.roadbook [data-icon="shopping_convenience"],
.roadbook [data-addr-type="diy"],
.roadbook [data-icon="shopping_diy"],
.roadbook [data-addr-type="estateagent"],
.roadbook [data-icon="shopping_estateagent"],
.roadbook [data-addr-type="estateagent2"],
.roadbook [data-icon="shopping_estateagent2"],
.roadbook [data-addr-type="estateagent3"],
.roadbook [data-icon="shopping_estateagent3"],
.roadbook [data-addr-type="fish"],
.roadbook [data-icon="shopping_fish"],
.roadbook [data-addr-type="garden_centre"],
.roadbook [data-icon="shopping_garden_centre"],
.roadbook [data-addr-type="gift"],
.roadbook [data-icon="shopping_gift"],
.roadbook [data-addr-type="greengrocer"],
.roadbook [data-icon="shopping_greengrocer"],
.roadbook [data-addr-type="hairdresser"],
.roadbook [data-icon="shopping_hairdresser"],
.roadbook [data-addr-type="hifi"],
.roadbook [data-icon="shopping_hifi"],
.roadbook [data-addr-type="jewelry"],
.roadbook [data-icon="shopping_jewelry"],
.roadbook [data-addr-type="laundrette"],
.roadbook [data-icon="shopping_laundrette"],
.roadbook [data-addr-type="mobile_phone"],
.roadbook [data-icon="shopping_mobile_phone"],
.roadbook [data-addr-type="motorcycle"],
.roadbook [data-icon="shopping_motorcycle"],
.roadbook [data-addr-type="music"],
.roadbook [data-icon="shopping_music"],
.roadbook [data-addr-type="pet"],
.roadbook [data-icon="shopping_pet"],
.roadbook [data-addr-type="pet2"],
.roadbook [data-icon="shopping_pet2"],
.roadbook [data-addr-type="photo"],
.roadbook [data-icon="shopping_photo"],
.roadbook [data-addr-type="supermarket"],
.roadbook [data-icon="shopping_supermarket"],
.roadbook [data-addr-type="tackle"],
.roadbook [data-icon="shopping_tackle"],
.roadbook [data-addr-type="video_rental"],
.roadbook [data-icon="shopping_video_rental"] {
    color: #ac39ac;
}

.roadbook [data-addr-type="archery"],
.roadbook [data-icon="sport_archery"],
.roadbook [data-addr-type="baseball"],
.roadbook [data-icon="sport_baseball"],
.roadbook [data-addr-type="cricket"],
.roadbook [data-icon="sport_cricket"],
.roadbook [data-addr-type="diving"],
.roadbook [data-icon="sport_diving"],
.roadbook [data-addr-type="golf"],
.roadbook [data-icon="sport_golf"],
.roadbook [data-addr-type="gym"],
.roadbook [data-icon="sport_gym"],
.roadbook [data-addr-type="gymnasium"],
.roadbook [data-icon="sport_gymnasium"],
.roadbook [data-addr-type="gymnasium2"],
.roadbook [data-icon="sport_gymnasium2"],
.roadbook [data-addr-type="hillclimbing"],
.roadbook [data-icon="sport_hillclimbing"],
.roadbook [data-addr-type="horse_racing"],
.roadbook [data-icon="sport_horse_racing"],
.roadbook [data-addr-type="iceskating"],
.roadbook [data-icon="sport_iceskating"],
.roadbook [data-addr-type="jetski"],
.roadbook [data-icon="sport_jetski"],
.roadbook [data-addr-type="leisure_centre"],
.roadbook [data-icon="sport_leisure_centre"],
.roadbook [data-addr-type="motorracing"],
.roadbook [data-icon="sport_motorracing"],
.roadbook [data-addr-type="playground"],
.roadbook [data-icon="sport_playground"],
.roadbook [data-addr-type="sailing"],
.roadbook [data-icon="sport_sailing"],
.roadbook [data-addr-type="skiing_crosscountry"],
.roadbook [data-icon="sport_skiing_crosscountry"],
.roadbook [data-addr-type="skiing_downhill"],
.roadbook [data-icon="sport_skiing_downhill"],
.roadbook [data-addr-type="snooker"],
.roadbook [data-icon="sport_snooker"],
.roadbook [data-addr-type="soccer"],
.roadbook [data-icon="sport_soccer"],
.roadbook [data-addr-type="swimming_indoor"],
.roadbook [data-icon="sport_swimming_indoor"],
.roadbook [data-addr-type="swimming_outdoor"],
.roadbook [data-icon="sport_swimming_outdoor"],
.roadbook [data-addr-type="tennis"],
.roadbook [data-icon="sport_tennis"],
.roadbook [data-addr-type="windsurfing"],
.roadbook [data-icon="sport_windsurfing"] {
    color: #39ac39;
}

.roadbook [data-addr-type="archaeological"],
.roadbook [data-icon="tourist_archaeological"],
.roadbook [data-addr-type="archaeological2"],
.roadbook [data-icon="tourist_archaeological2"],
.roadbook [data-addr-type="art_gallery"],
.roadbook [data-icon="tourist_art_gallery"],
.roadbook [data-addr-type="art_gallery2"],
.roadbook [data-icon="tourist_art_gallery2"],
.roadbook [data-addr-type="battlefield"],
.roadbook [data-icon="tourist_battlefield"],
.roadbook [data-addr-type="beach"],
.roadbook [data-icon="tourist_beach"],
.roadbook [data-addr-type="casino"],
.roadbook [data-icon="tourist_casino"],
.roadbook [data-addr-type="castle"],
.roadbook [data-icon="tourist_castle"],
.roadbook [data-addr-type="cinema"],
.roadbook [data-icon="tourist_cinema"],
.roadbook [data-addr-type="cinema2"],
.roadbook [data-icon="tourist_cinema2"],
.roadbook [data-addr-type="fountain"],
.roadbook [data-icon="tourist_fountain"],
.roadbook [data-addr-type="memorial"],
.roadbook [data-icon="tourist_memorial"],
.roadbook [data-addr-type="monument"],
.roadbook [data-icon="tourist_monument"],
.roadbook [data-addr-type="museum"],
.roadbook [data-icon="tourist_museum"],
.roadbook [data-addr-type="picnic"],
.roadbook [data-icon="tourist_picnic"],
.roadbook [data-addr-type="ruin"],
.roadbook [data-icon="tourist_ruin"],
.roadbook [data-addr-type="steam_train"],
.roadbook [data-icon="tourist_steam_train"],
.roadbook [data-addr-type="theatre"],
.roadbook [data-icon="tourist_theatre"],
.roadbook [data-addr-type="view_point"],
.roadbook [data-icon="tourist_view_point"],
.roadbook [data-addr-type="waterwheel"],
.roadbook [data-icon="tourist_waterwheel"],
.roadbook [data-addr-type="windmill"],
.roadbook [data-icon="tourist_windmill"],
.roadbook [data-addr-type="wreck"],
.roadbook [data-icon="tourist_wreck"],
.roadbook [data-addr-type="zoo"],
.roadbook [data-icon="tourist_zoo"] {
    color: #734a08;
}

.roadbook [data-addr-type="aerodrome"],
.roadbook [data-icon="transport_aerodrome"],
.roadbook [data-addr-type="aerodrome2"],
.roadbook [data-icon="transport_aerodrome2"],
.roadbook [data-addr-type="airport"],
.roadbook [data-icon="transport_airport"],
.roadbook [data-addr-type="airport2"],
.roadbook [data-icon="transport_airport2"],
.roadbook [data-addr-type="bus_station"],
.roadbook [data-icon="transport_bus_station"],
.roadbook [data-addr-type="bus_stop"],
.roadbook [data-icon="transport_bus_stop"],
.roadbook [data-addr-type="bus_stop2"],
.roadbook [data-icon="transport_bus_stop2"],
.roadbook [data-addr-type="car_share"],
.roadbook [data-icon="transport_car_share"],
.roadbook [data-addr-type="ford"],
.roadbook [data-icon="transport_ford"],
.roadbook [data-addr-type="fuel"],
.roadbook [data-icon="transport_fuel"],
.roadbook [data-addr-type="fuel_lpg"],
.roadbook [data-icon="transport_fuel_lpg"],
.roadbook [data-addr-type="lighthouse"],
.roadbook [data-icon="transport_lighthouse"],
.roadbook [data-addr-type="marina"],
.roadbook [data-icon="transport_marina"],
.roadbook [data-addr-type="parking"],
.roadbook [data-icon="transport_parking"],
.roadbook [data-addr-type="parking_bicycle"],
.roadbook [data-icon="transport_parking_bicycle"],
.roadbook [data-addr-type="parking_car"],
.roadbook [data-icon="transport_parking_car"],
.roadbook [data-addr-type="parking_car_paid"],
.roadbook [data-icon="transport_parking_car_paid"],
.roadbook [data-addr-type="parking_disabled"],
.roadbook [data-icon="transport_parking_disabled"],
.roadbook [data-addr-type="parking_private"],
.roadbook [data-icon="transport_parking_private"],
.roadbook [data-addr-type="parking_private2"],
.roadbook [data-icon="transport_parking_private2"],
.roadbook [data-addr-type="parking_private3"],
.roadbook [data-icon="transport_parking_private3"],
.roadbook [data-addr-type="port"],
.roadbook [data-icon="transport_port"],
.roadbook [data-addr-type="rental_bicycle"],
.roadbook [data-icon="transport_rental_bicycle"],
.roadbook [data-addr-type="rental_car"],
.roadbook [data-icon="transport_rental_car"],
.roadbook [data-addr-type="roundabout_anticlockwise"],
.roadbook [data-icon="transport_roundabout_anticlockwise"],
.roadbook [data-addr-type="roundabout_clockwise"],
.roadbook [data-icon="transport_roundabout_clockwise"],
.roadbook [data-addr-type="taxi_rank"],
.roadbook [data-icon="transport_taxi_rank"],
.roadbook [data-addr-type="traffic_lights"],
.roadbook [data-icon="transport_traffic_lights"],
.roadbook [data-addr-type="train_station"],
.roadbook [data-icon="transport_train_station"],
.roadbook [data-addr-type="train_station2"],
.roadbook [data-icon="transport_train_station2"],
.roadbook [data-addr-type="tram_stop"],
.roadbook [data-icon="transport_tram_stop"] {
    color: #0093db;
}
