
$editor-ad-height: 0;
$editor-bottom-navbar-height: 0;

#editor_pane {
    .row-full-height, .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    @media (max-width: $screen-md) {
        .col-full-height:nth-of-type(1) {
            height: 40%;
        }
        .col-full-height:nth-of-type(2) {
            height: 60%;
        }
    }
}

/* Prevent hazardous height changes*/
#editor_toolbar {
    //height: $navbar-height;
    //overflow: hidden;
}

#editor_container {

    height: 100%;

    padding-top: $navbar-height;
    padding-bottom: $editor-bottom-navbar-height + 13px;
    @media (min-width: 768px) {
        padding-bottom: $editor-bottom-navbar-height + 2px;
    }

    .navbar:first-of-type {
        margin-top: -$navbar-height;
        margin-bottom: 0;
    }
    //.navbar:last-of-type {
    //    margin-bottom: -$editor-bottom-navbar-height;
    //    margin-top: 0;
    //}
    .ql-container {
        overflow: auto;
        padding: (($line-height-computed - 1) / 2);
        font-size: initial;
        //font-size: ($font-size-base - 1);
        //line-height: $line-height-base;
        //color: $pre-color;
        //padding-bottom: $editor-ad-height;
    }
    .ql-container, pre, textarea {
        height: 100%;
        overflow: auto;
        border-radius: 0;
        border: none;
    }
    .tab-content {
        height: 100%;
        padding-bottom: $editor-ad-height;

        .tab-pane, textarea {
            height: 100%;
        }
    }
    .ad_container {
        width: 98%;
        min-height: 50px;
        max-height: $editor-ad-height;
        position: absolute;
        bottom: $editor-bottom-navbar-height;
        overflow: hidden;
        background-color: $body-bg;
    }

}

#map {
    .spinner {
        opacity: .2;
        z-index: 1;
        width: 1em;
        height: 1em;
    }

    .ol-zoom .ol-zoom-out {
        margin-top: 204px;
    }
    .ol-zoomslider {
        background-color: transparent;
        top: 2.3em;
    }

    .ol-touch .ol-zoom .ol-zoom-out {
        margin-top: 212px;
    }
    .ol-touch .ol-zoomslider {
        top: 2.75em;
    }

    .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
    .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
        top: 3px;
    }

    .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
    .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
        top: 232px;
    }

}
