
#picker, #picker > div {
height:100%;
overflow: auto;
}

/* Settings */
#separator {
    overflow: auto;
    overflow: hidden;
    resize: none;
}


/* City names style */

.country {
	font-size: 2.5em;
}
.state {
	font-size: 2em;
}
.county {
	font-size: 1.4em;
	font-weight: bolder;
}
.city {
	font-size: 1.2em;
	font-weight: bold;
}
.town {
	font-size: 1em;
}
.village {
	font-size: .9em;
}
.neighbourhood {
	font-size: .8em;
}
.suburb {
	font-size: .7em;
}
