
/* Editor */

#editor_container {
    padding-top: 70px;

	.navbar {
		margin-top: -70px;
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	#editor {
		height: 100%;
		overflow: auto;
		margin-top: -3px;
		padding: (($line-height-computed - 1) / 2);
		margin: 0 0 ($line-height-computed / 2);
		font-size: ($font-size-base - 1);
		line-height: $line-height-base;
		color: $pre-color;
		//background-color: $pre-bg;
		border: 1px solid $pre-border-color;
	    border-radius: 0 0 $border-radius-base $border-radius-base;		
	}

}

/* Settings */

#separator {
    overflow: auto;
    overflow: hidden;
    resize: none;
}


/* City names style */

.country {
	font-size: 2.5em;
}
.state {
	font-size: 2em;
}
.county {
	font-size: 1.4em;
	font-weight: bolder;
}
.city {
	font-size: 1.2em;
	font-weight: bold;
}
.town {
	font-size: 1em;
}
.village {
	font-size: .9em;
}
.neighbourhood {
	font-size: .8em;
}
.suburb {
	font-size: .7em;
}
