.overlay-image-absolute {
	#home_pane & {
		background-image: url(../images/backgrounds/turn-right.jpg);
	}
    .jumbotron {
        background-color: transparent;
	}
}

// .overlay-image-absolute:after, .overlay-image:after
.overlay-image-absolute:before, .overlay-image:before {
	content: "";
	position: absolute;
	top: $navbar-height;
	//margin-bottom: -70px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.overlay-image-absolute:before, .overlay-image:before {
	opacity: .5;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: relative;
	background-size: cover;
	filter: blur(5px) saturate(0.1);
}
/*.overlay-image-absolute:after, .overlay-image:after {
	z-index: -1;
}
.overlay-image-absolute:after, .overlay-image:after {
	background-image: url(../images/backgrounds/pixel.png);
	background-repeat: repeat;
	opacity: .4;
}*/
.overlay-image {
	.modal-content {
		background-color: fade($modal-content-bg, 80%);
	}
	.table-striped>tbody>tr:nth-of-type(odd) {
		background-color: fade($table-bg-accent, 40%);
	}
	.table-hover>tbody>tr:hover {
		background-color: fade($table-bg-hover, 40%);
	}
	.list-group-item {
		background-color: fade($list-group-bg, 40%);
		&.active, &.active:hover, &.active:focus {
			background-color: fade($list-group-active-bg, 40%);
			border-color: fade($list-group-active-border, 40%);
		}
	}
   .jumbotron {
        background-color: transparent;
	    //background-color: fade($jumbotron-bg, 40%);
	}
}


.overlay {
	position: relative;
}
.overlay:before, .overlay:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.overlay-pixel:after {
	background-image: url(../images/backgrounds/pixel.png);
	background-repeat: repeat;
	opacity: .4;
}
.overlay-gradient:after {
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	background-attachment: fixed;
}
