
.roadbook [data-address-type="books"]:before,
.roadbook [data-icon="shopping_books"]:before {
    content: "";
    width: 20px;
    height: 20px;
    background-position: -305px -215px;
}

.roadbook [data-address-type="fast_food"]:before,
.roadbook [data-icon="food_fast_food"]:before {
    content: "";
    width: 20px;
    height: 20px;
    background-position: -35px -95px;
}

.roadbook [data-address-type="florist"]:before,
.roadbook [data-icon="shopping_florist"]:before {
  content: "";
  width: 20px;
  height: 20px;
  background-position: -245px -245px;
}

.roadbook [data-address-type="hardware"]:before,
.roadbook [data-icon="shopping_hardware"]:before {
    content: "";
    width: 20px;
    height: 20px;
    background-position: -95px -245px;
}

.roadbook [data-address-type="laundry"]:before,
.roadbook [data-icon="shopping_laundry"]:before {
    content: "";
    width: 20px;
    height: 20px;
    background-position: -5px -275px;
}



.roadbook [data-address-type="taxi"]:before,
.roadbook [data-icon="transport_taxi"]:before {
    content: "";
    width: 20px;
    height: 20px;
    background-position: -425px -395px;
}
